{% extends "base.html" %}

{% block titleblock %} Update Todo{% endblock titleblock %}

{% block content %}

<div class="container my-3">
    <!-- Add Todo -->
    <form method="POST">
        <h1>Update Todo</h1>
        <div class="mb-3">
            <label for="title" class="form-label">Todo Title</label>
            <input type="text" class="form-control" value="{{todo.title}}" name="title" id="title" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="desc" class="form-label">Todo Description</label>
            <input type="text" class="form-control" value="{{todo.desc}}" name="desc" id="desc">
        </div>
        <button type="submit" class="btn btn-outline-secondary">Update</button>
    </form>
</div>

{% endblock content %}